.chart text {
  fill: #99D500;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  /*font: 10px sans-serif;*/
  text-anchor: end;
}

.cwh-graph text {
  fill: #99D500;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  /*font: 10px sans-serif;*/
  text-anchor: end;
}

.axis text {
  font-family: 'Open Sans', sans-serif;
  color: #99D500;
  text-transform: uppercase;
}

.axis path,
.axis line {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}

.highlight {
  background-color: orange;
  fill: orange;
}

.chart {
float: left;
margin-right: 30px;
width: 400px;
}

.cwh-graph {
  width: 700px;
  display: inline-block;
}

.testdiv {
  display: block;
}

.axis text {
  font-family: 'Open Sans', sans-serif;
  color: #99D500;
  text-transform: uppercase;
}

.vis text {
  font-family: 'Open Sans', sans-serif;
  color: #99D500;
  text-transform: uppercase;
}

.larger {
  font-size: 16px;
  color: rgba(255,255,255,0.43);
}

span {
  color: white;
  font-size: 14px;
}

#what-if-form {
  margin-top: 20px;
  border: 1px solid #e3e3e3;
  padding: 15px; 
  width: 650px; 
}