.chart text {
  fill: #99D500;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  /*font: 10px sans-serif;*/
  text-anchor: end;
}

.axis text {
  font-family: 'Open Sans', sans-serif;
  color: #99D500;
  text-transform: uppercase;
}

.axis path,
.axis line {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}