.chart text {
  fill: #99D500;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  /*font: 10px sans-serif;*/
  text-anchor: end;
}

.axis text {
  font-family: 'Open Sans', sans-serif;
  color: #99D500;
  text-transform: uppercase;
}

.axis path,
.axis line {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}

.highlight {
  background-color: orange;
  fill: orange;
}

.chart {
float: left;
margin-right: 30px;
width: 400px;
}

.cwh-graph {
  width: 600px;
  float: left;
}

.axis text {
  font-family: 'Open Sans', sans-serif;
  color: #99D500;
  text-transform: uppercase;
}

.vis text {
  font-family: 'Open Sans', sans-serif;
  color: #99D500;
  text-transform: uppercase;
}