.well{
	border-radius: 0px;
	padding-top: 0px;
	background-color: #333333;
}

.post-title-media {
	font-family: 'Source Sans Pro', sans-serif;
	color: #99D500;
}

#model {
	width: 20em;
	float: left;
	margin-right: 20px;
}

#signup_well {
	width: 30em;
}

#add_post_well {
	width: 48%;
	float: left;
	margin-right: 20px;
}

#add-assignment-well {
	width: 70%;
}

#add-comment-well {
	width: 48%;
	float: left;
	margin-right: 20px;
}

#search-results {
	width: 48%;
	float: left;
	margin-right: 20px;
	padding-top: 20px;
}

#comment_input {
	height: 200px;
	width: 100%;
}

#search-well {
	width: 31%;
	float: left;
	margin-right: 20px;
}

#signup {
	margin-bottom: 20px;
}

#master_login {
	margin-bottom: 5px;
}

#preview {
	background-color: #FFFFFF;
	border: 1px solid #e3e3e3;
	padding: 19px;
	color: #333333;
}

.preview {
	color: #333333;
}

#post_content {
	height: 400px;
}

.footer {
	padding-top: 50px;
	clear: both;
}

#assignment_details {
	margin-left: 40px;
}

.thumbnail {
	background-color: #333333;
}