.well{
	border-radius: 0px;
	padding-top: 0px;
	
}

#signup_well {
	width: 30em;
}

#add_post_well {
	width: 48%;
	float: left;
	margin-right: 20px;
}

#signup {
	margin-bottom: 20px;
}

#master_login {
	margin-bottom: 5px;
}

#preview {
	background-color: #FFFFFF;
	border: 1px solid #e3e3e3;
	padding: 19px;
}

#post_content {
	height: 400px;
}