.well{
	border-radius: 0px;
	padding-top: 0px;
	background-color: #333333;
}

.post-title-media {
	font-family: 'Source Sans Pro', sans-serif;
	color: #99D500;
}

#model {
	width: 20em;
	float: left;
	margin-right: 20px;
}

#signup_well {
	width: 30em;
}

#add_post_well {
	width: 48%;
	float: left;
	margin-right: 20px;
}

#add-assignment-well {
	width: 400px;
	margin-right: auto;
}

#add-comment-well {
	width: 48%;
	float: left;
	margin-right: 20px;
}

#search-results {
	width: 48%;
	float: left;
	margin-right: 20px;
	padding-top: 20px;
}

#comment_input {
	height: 200px;
	width: 100%;
}

#search-well {
	width: 31%;
	float: left;
	margin-right: 20px;
}

#signup {
	margin-bottom: 20px;
}

#master_login {
	margin-bottom: 5px;
}

#preview {
	background-color: #FFFFFF;
	border: 1px solid #e3e3e3;
	padding: 19px;
	color: #333333;
}

.preview p {
	color: #333333;
}

.preview h2 {
	color: #333333;
}

.preview h3 {
	color: #333333;
}


#post_content {
	height: 400px;
}

.footer {
	padding-top: 50px;
	clear: both;
}

.what-if {
	padding-top: 50px;
	clear: both;
}


#assignment_details {
	margin-left: 40px;
}

.thumbnail {
	background-color: #333333;
}

#ui-datepicker-div {
	background-color: #333333;
	padding-right: 20px;
	border: 1px solid white; 
	padding-bottom: 10px;
}

#searched {
	width: 306px;
}

#phone-number {
	width: 200px;
}

#select-period {
	width: 200px;
}

#notes-header {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.is_banned {
	width: 120px ;
}

#send-textarea {
	width: 250px;
	height: 200px;
}

@font-face {
  font-family: 'Quando';
  font-style: normal;
  font-weight: 400;
  src: local('Quando-Regular'), url(http://themes.googleusercontent.com/static/fonts/quando/v1/kIgygNRULv_bzALjRyosjevvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/ODelI1aHBYDBqgeIAH2zlNHq-FFgoDNV3GTKpHwuvtI.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/toadOcfmlt9b38dHJxOBGCmgpmuQqK2I-L2S9cF65Ek.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: local('Source Sans Pro Italic'), local('SourceSansPro-It'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/M2Jd71oPJhLKp0zdtTvoM_bce-VcyLJMRR1FC9qWbU8.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 600;
  src: local('Source Sans Pro Semibold Italic'), local('SourceSansPro-SemiboldIt'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/fpTVHK8qsXbIeTHTrnQH6J4LxuTxC3JbLqy8IUt0K1T3rGVtsTkPsbDajuO5ueQw.woff) format('woff');
}