{% extends 'master.html' %}
{% block body %}

<!-- DIALOG ***************** -->
<div id='dialog-link' title='Link'>
	<input id='link-url' placeholder='Link url'></input>
	<input id='link-name' placeholder='How you would like the link to appear in your post'></input>
</div>
<!-- DIALOG ***************** -->

<div class='container'>
	<div class="page-header">
		<h1>Add Post</h1>
	</div>
	<div class="well" id="add_post_well">
	<div class="page-header">
		<h2>Post Editor</h2>
	</div>
	{% for message in get_flashed_messages() %}
        <div class="alert alert-warning">{{message}}</div>
    {% endfor %}
	<p>
		<button id="bold" class="btn btn-default">Bold</button>
		<button id="italic" class="btn btn-default">Italic</button>
		<button id="header" class="btn btn-default">Header</button>
		<button id="link" class="btn btn-default">Link</button>
	</p>    
	<form action='{{url_for("add_post")}}' method='post'>
		<p>
			<input id='post_title' type='text' class='form-control' name='post_title' placeholder='Title'></input>
		</p>		
		<p>
			<textarea id='post_content' class='form-control' name='post_content' placeholder='Write your newpost!'></textarea>
		</p>
		<p>
			<input class="btn btn-default" type='submit' id="add_post_submit"></input>
		</p>
	</form>
	</div>



	<div class="well" id="add_post_well">
	<div class="page-header">
		<h2>Post Preview</h2>
	</div>
	<div id="preview">
	 
	</div>
    

	</div>
</div>	
{% endblock %}



<!-- **************** SCRIPTS **************** -->
{% block javascript %}
<script src="/static/js/jquery.selection.js"></script>
<script type="text/javascript" src="/static/js/addpost.js"></script>
<!-- DIALOG ***************** -->
<script type="text/javascript" src='/static/js/jquery-ui-1.10.3.custom.js'></script>
<script type="text/javascript">
$('#dialog-link').dialog({
	autoOpen: false,
	height: 300,
	wight: 350,
	model: true,
	buttons: {
		'Add Link': function() {
			$('#post_content').append("["
				+ $('#link-name').val()
				+"]("
				+ $('#link-url').val()
				+")");
			$(this).dialog('close');
		}
	}
});
$('#link').click(function() {
	$('#dialog-link').dialog('open');
});
</script>
<!-- DIALOG ***************** -->
{% endblock %}