{% extends 'master.html' %}
{% block body %}
<div class='container'>
	<div class="page-header">
		<h1>Add Post</h1>
	</div>
	<form action='{{url_for("add_post")}}' method='post'>
		<p>
			<input id='post_content' type='text' class='form-control' name='post_title' placeholder='Title'></input>
		</p>		
		<p>
			<input id='post_content' type='text' class='form-control' name='post_content' placeholder='Write your newpost!'></input>
		</p>
		<p>
			<input class="btn btn-default" type='submit' id="add_post_submit"></input>
		</p>
	</form>

	<br><br><br>
</div>	
{% endblock %}