{% extends 'admin/master.html' %}
{% block body %}

<div class='container'>

	<!-- ***************** HEADER ***************** -->
	<div class="page-header">
		<h1>Add Assignment</h1>
	</div>
	<!-- ***************** END HEADER ***************** -->

	<!-- ***************** ADD ASSIGNMENT WELL ***************** -->
	<div class="well" id="add-assignment-well">

		<!-- ***************** HEADER ***************** -->
		<div class="page-header">
			<h2>Enter Assignment Information</h2>
		</div>
		<!-- ***************** END HEADER ***************** -->

		<!-- ***************** ADD ASSIGNMENT FORM ***************** --> 
		<form action='' method='post'>
			
			<p><input id='title' type='text' class='form-control' name='title' placeholder='Title'></input></p>

			<p><select class='form-control' name='category' id='category'>
			<option>Category</option>
			<option value='CWH'>CWH</option>
			<option value='MK'>MK</option>
			<option value='AK'>AK</option>
			</select></p>

			<p><input id='assignment-link' type='text' class='form-control' name='link' placeholder='Link'></input></p>	

			<p><textarea id='assignment-description' class='form-control' name='description' placeholder='Description'></textarea></p>

			<p><input id='datepicker' type='text' class='form-control' name='assigned_on' placeholder='Assigned On'></input></p>		

			<p><input id='datepicker2' type='text' class='form-control' name='due_on' placeholder='Due On'></input></p>	
			
			<p><input id='max-points' class='form-control' name='max_points' placeholder='Max Points'></input></p>

			<p><select class='form-control' name='group' id='group'>
			<option>Group</option>
			<option value='0'>0</option>
			<option value='1'>1</option>
			<option value='2'>2</option>
			<option value='3'>3</option>
			<option value='4'>4</option>
			</select></p>
			
			<br><p><input class="btn btn-default" type='submit' id="add_post_submit"></input></p>
		
		</form>
		<!-- ***************** END ADD ASSIGNMENT FORM ***************** -->

	</div>
	<!-- ***************** END ADD ASSIGNMENT WELL ***************** -->

</div>

{% endblock %}