{% extends 'master.html' %}
{% block body %}

<!-- ************************ HEADER ************************  -->
<div class="page-header">
	<h1>
		All Assignments
	</h1>
    <div id="found-notes"></div>
</div>

<!-- ************************ ALL ASSIGNMENTS ************************  -->

<div class="container">
    {% for assignment in assignments %}
    <p>{{assignment.title}} <a href="{{url_for("delete_assignment", assignment_pk=assignment.assignment_pk)}}">delete</a></p>
    {% endfor %}
</div>

{% endblock %}