{% extends 'master.html' %}
{% block body %}
<div class="page-header">
	<h1>
		{{posts[0].user.first_name}} {{posts[0].user.last_name}}'s Blog
		{% if user.user_id == posts[0].user.user_id %}
		<a href='{{url_for("add_post")}}'><button type="button" class="btn btn-default">Add Post</button></a>
		{% endif %}
	</h1>

</div>
<div class='container'>
	{% for post in posts %}
	<div class="page-header">
		<h1>{{post.title}}</h1>
		{% if post.version_id == 1%}
		<small>
		created on {{post.timestamp}}
		</small>
		{% endif %}
		{% if post.version_id > 1%}
		<small>
		edited on {{post.timestamp}}
		</small>
		{% endif %}
	</div>
	<p>{{ post.content }}</p>
	<p><a href="{{url_for('show_post', post_id=post.post_id)}}">{{ post.comment_count }} Comments</a></p>
	{% if user.user_id == posts[0].user.user_id %}
	<a href='{{url_for("edit_post", post_pk=post.post_pk)}}'><button type="button" class="btn btn-default">Edit Post</button></a>
	<a href='{{url_for("delete_post", post_pk=post.post_pk)}}'><button type="button" class="btn btn-default">Delete Post</button></a>
	{% endif %}
	{% endfor %}

</div>	
<div class=pagination>
{% if pagination.has_prev %} <a href="{{ url_for_other_page(pagination.page - 1) }}">&laquo; Previous</a> {% endif %}
{% for page in pagination.iter_pages() %}
{% if page %}
{% if page != pagination.page %}
<a href="{{url_for_other_page(page)}}">{{ page }}</a>
{% else %}
<strong>{{ page }}</strong>
{% endif %}
{% else %}
<span class=ellipsis>…</span>
{% endif %}
{% endfor %}
{% if pagination.has_next %}
<a href="{{ url_for_other_page(pagination.page + 1)}}">Next &raquo;</a>
{% endif %}
</div>

<br><br>
{% endblock %}