<link href="/static/css/carousel.css" rel="stylesheet">

{% extends 'master.html' %}
{% block body %}

<!-- Featured Blogs -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner">
		<div class="item active">
			<img src="{{featured_posts[0].user.profile_picture}}" width="900px" height="500px" alt="First slide">
			<div class="container">
				<div class="carousel-caption">
					<h1>{{featured_posts[0].title}}</h1>
					<p>{{featured_posts[0].user.first_name}} {{featured_posts[0].user.last_name}}</p>
					<p>
						<a class="btn btn-lg btn-default" href="{{url_for('show_blog', author_id=featured_posts[0].user_id)}}" role="button">View Post</a>
					</p>
				</div>
			</div>
		</div>
		<div class="item">
			<img src="{{featured_posts[1].user.profile_picture}}" width="900px" height="500px" alt="Second slide">
			<div class="container">
				<div class="carousel-caption">
					<h1>{{featured_posts[1].title}}</h1>
					<p>{{featured_posts[1].user.first_name}} {{featured_posts[1].user.last_name}}</p>
					<p>
						<a class="btn btn-lg btn-default" href="{{url_for('show_blog', author_id=featured_posts[1].user_id)}}" role="button">View Post</a>
					</p>
				</div>
			</div>
		</div>
		<div class="item">
			<img src="{{featured_posts[1].user.profile_picture}}" width="900px" height="500px" alt="Third slide">
			<div class="container">
				<div class="carousel-caption">
					<h1>{{featured_posts[2].title}}</h1>
					<p>{{featured_posts[2].user.first_name}} {{featured_posts[2].user.last_name}}</p>
					<p>
						<a class="btn btn-lg btn-default" href="{{url_for('show_blog', author_id=featured_posts[2].user_id)}}" role="button">View Post</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<!-- /.carousel -->
<div class="page-header">
	<h1>Recent Posts</h1>
</div>
<div class='container'>
	{% for post in recent_posts %}
		<div class='well' id='search-results'>
		    <div class="media">
				<a class="pull-left" href="{{url_for('show_blog', author_id=post.user.user_id)}}">
		    		<img class="media-object" src="{{user.profile_picture}}" height='64px' width='64px' alt="...">
		  		</a>
		  		<div class="media-body">
		    		<a href="{{url_for('show_blog', author_id=post.user.user_id)}}">
		    		<h4 class="media-heading">{{post.user.first_name}} {{post.user.last_name}}</h4></a>
		    		<small>{{post.user.email}}</small>
				</div>
			</div>

			<h4>{{post.title}}</h4>
			{% filter markdown %}{{post.content}}{% endfilter %}
			<a href="{{url_for('show_blog', author_id=user.user_id)}}">Go to full blog >></a>
		</div>
    {% endfor %}
</div>	
<br><br>
{% endblock %}
