{% extends 'master.html' %}

    {% block head %}
        <link rel="stylesheet" type="text/css" href="/static/css/grades.css">
        <link rel="stylesheet" type="text/css" href="/static/css/colorbox.css">
    {% endblock %}

{% block body %}

<div class="container">

	<!-- ***************** HEADER ***************** -->
	<div class="page-header">
		<h1>Grades for Katie</h1>
		<!-- <h1>Grades for {{user.first_name}}</h1> -->
	</div>
	<!-- ***************** END HEADER ***************** -->

	<!-- ***************** HEADER2 ***************** -->
	<div class="page-header">
		<h2>Current Grade: {{current_grade}}</h2>
	</div>
	<!-- ***************** END HEADER2 ***************** -->

	<!-- ***************** GRADES SVG ***************** -->
	<svg class="chart"></svg>
	<!-- ***************** END GRADES SVG ***************** -->

  <!-- This contains the hidden content for inline calls -->
  <div style='display:none'>
    <div id='inline_content' style='padding:10px; background:#fff;'>
    <p><strong>This content comes from a hidden element on this page.</strong></p>
    <p>The inline option preserves bound JavaScript events and changes, and it puts the content back where it came from when it is closed.</p>
    <p><a id="click" href="#" style='padding:5px; background:#ccc;'>Click me, it will be preserved!</a></p>
    
    <p><strong>If you try to open a new Colorbox while it is already open, it will update itself with the new content.</strong></p>
    <p>Updating Content Example:<br />
    <a class="ajax" href="/static/content/ajax.html">Click here to load new content</a></p>
    </div>
  </div>

</div>

{% endblock %}

<!-- ***************** SCRIPTS ***************** -->
{% block javascript %}

<script type="text/javascript" src="/static/js/d3/d3.v3.js"></script>
<script type="text/javascript" src="/static/js/jquery.tipsy.js"></script>
<!-- ***************** D3 CHART ***************** -->
<script type="text/javascript" src="/static/js/gradeschart.js"></script>



<script src="/static/js/jquery.colorbox.js"></script>

<script>
  $(document).ready(function(){
    //Examples of how to assign the Colorbox event to elements
    $(".group1").colorbox({rel:'group1'});
    $(".group2").colorbox({rel:'group2', transition:"fade"});
    $(".group3").colorbox({rel:'group3', transition:"none", width:"75%", height:"75%"});
    $(".group4").colorbox({rel:'group4', slideshow:true});
    $(".ajax").colorbox();
    $(".youtube").colorbox({iframe:true, innerWidth:640, innerHeight:390});
    $(".vimeo").colorbox({iframe:true, innerWidth:500, innerHeight:409});
    $(".iframe").colorbox({iframe:true, width:"80%", height:"80%"});
    $(".inline").colorbox({inline:true, width:"50%"});
    $(".callbacks").colorbox({
      onOpen:function(){ alert('onOpen: colorbox is about to open'); },
      onLoad:function(){ alert('onLoad: colorbox has started to load the targeted content'); },
      onComplete:function(){ alert('onComplete: colorbox has displayed the loaded content'); },
      onCleanup:function(){ alert('onCleanup: colorbox has begun the close process'); },
      onClosed:function(){ alert('onClosed: colorbox has completely closed'); }
    });

    $('.non-retina').colorbox({rel:'group5', transition:'none'})
    $('.retina').colorbox({rel:'group5', transition:'none', retinaImage:true, retinaUrl:true});
    
    //Example of preserving a JavaScript event for inline calls.
    $("#click").click(function(){ 
      $('#click').css({"background-color":"#f00", "color":"#fff", "cursor":"inherit"}).text("Open this window again and this message will still be here.");
      return false;
    });
  });



$('.ajax').bind('click', function() {
  $.colorbox({href:$(this).attr('href'), open:true});
  return false;
});

</script>





<!-- // // ***************** AJAX CALL FOR DATA *****************
// $.ajax({
//     type: "GET",
//         url: "/gradeinfo"
//     }).done(function( msg ) {
//         // for now I will store these in variables
//         // cwh
//         var cwhGrade = msg['cwh_grade'];
//         // var cwhMax = msg['cwh_max'];
//         // var cwhTop = msg['cwh_top'];
//         // var cwhBottom = msg['cwh_bottom'];
//         // // mk
//         // var mkGrade = msg['mk_grade'];
//         // var mkMax = msg['mk_max'];
//         // var mkTop = msg['mk_top'];
//         // var mkBottom = msg['mk_bottom'];
//         // // ak
//         // var akGrade = msg['ak_grade'];
//         // var akMax = msg['ak_max'];
//         // var akTop = msg['ak_top'];
//         // var akBottom = msg['ak_bottom'];
//         // // total
//         // var totalGrade = msg['total_grade'];
//         // var totalMax = msg['total_max'];
//         // var totalTop = msg['total_top'];
//         // var totalBottom = msg['total_bottom'];
//         });  -->


{% endblock %}
<!-- ***************** END SCRIPTS ***************** -->