<!DOCTYPE html>
<html>
	<head>
       
       <!-- ****************** STYLESHEETS ****************** -->
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/static/css/jumbotron.css">
		<link rel="stylesheet" type="text/css" href="/static/css/main.css">
		<link rel="stylesheet" type="text/css" href="/static/css/jquery-ui-1.10.3.custom.css">
		<link href='http://fonts.googleapis.com/css?family=Quando' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic,600italic' rel='stylesheet' type='text/css'>
		{% block head %}
		{% endblock %}

		<!-- ****************** TITLE ****************** -->
        <title>mrscutronadotcom</title>

	</head>
	<body>

<!-- ****************** NAV BAR ****************** -->

<nav class="navbar navbar-default" role="navigation">

<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	<span class="sr-only">Toggle navigation</span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="/">mrscutronadotcom</a>
	</div>

<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

	<ul class="nav navbar-nav">	</ul>

<!-- ****************** SIGN UP AND SIGN IN ****************** -->
	<ul class="nav navbar-nav navbar-right">

<!-- ****************** GRADES DROPDOWN ****************** -->
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">grades <b class="caret"></b></a>
			<ul class="dropdown-menu">
				{% if user.is_active() %}
				<li><a href="{{url_for('show_grades')}}">my grade</a></li>
				{% endif %}
			</ul>
		</li>

<!-- ****************** BLOGS DROPDOWN ****************** -->
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">studentblogs <b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><a href="/blogs">featured and recent</a></li>
				<li><a href="/search">search by student</a></li>
				{% if user.is_active() %}
				<li class="divider"></li>
				<li><a href="{{url_for('show_blog', author_id=user.user_id)}}">my blog</a></li>
				<li><a href="{{url_for('add_post', author_id=user.user_id)}}">add post</a></li>
				{% endif %}
			</ul>
		</li>

		{% if not user.is_active() %}
		<li><a href="/signup">sign up</a></li>
		{% endif %}

		<li class="dropdown">

			{% if user.is_active() %}
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.first_name}} <b class="caret"></b></a>
			{% endif %}

			{% if not user.is_active() %}
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">sign in<b class="caret"></b></a>
			{% endif %}

				<ul class="dropdown-menu">
				{% if not user.is_active() %}
				<li>
					<form class="navbar-form navbar-right" method='post' action='/'>
					<div class="form-group">
					    <input type="email" placeholder="Email" class="form-control" name='email' id="master_login">
					</div>
					<div class="form-group">
					    <input type="password" placeholder="Password" class="form-control" name='password' id='master_login'>
					</div>
					<button type="submit" class="btn btn-default" id="master_login">sign in</button>
					</form>
				</li>
				{% endif %}
				{% if user.is_active() %}
					<li><a href="/logout">sign out</a></li>
				{% endif %}
				</ul>
		</li>
	</ul>
</div>
<!-- /.navbar-collapse -->
</nav>
<!-- ****************** END NAV BAR ****************** -->

<!-- ****************** BODY CONTAINER ****************** -->
        <div class='container'>

			{% block body %}
			{% endblock %}

<!-- ****************** FOOTER ****************** -->
            <br><br>
            <div class='footer'>
                <p> 
                    <a href='/reportbug'>report a bug </a>
                    {% if current_user.is_admin_user %}
                    |<a href='/uploadgrades'> upload grades</a>
                    |<a href='/addassignment'> add assignment</a>
                    {% endif %}
                </p>
            </div>
        </div>
<!-- ****************** END FOOTER ****************** -->

<!-- ****************** SCRIPTS ****************** -->
	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.js"></script>
	<script type="text/javascript" src="/static/js/main.js"></script>
	{% block javascript %}
	{% endblock %}

	</body>
</html>