<html>
	<head>
       
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/static/css/jumbotron.css">

        <title>mrscutronadotcom</title>
	</head>
	<body>


<nav class="navbar navbar-default" role="navigation">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="/">mrscutronadotcom</a>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav">
<li class="active"><a href="#">Link</a></li>
<li><a href="#">Link</a></li>
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">studentblogs <b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="/blogs">featured and recent</a></li>
<li><a href="#">search by student</a></li>
{% if user.is_active() %}
<li class="divider"></li>
<li><a href="{{url_for('show_blog', author_id=user.user_id)}}">my blog</a></li>
<li><a href="{{url_for('add_post', author_id=user.user_id)}}">add post</a></li>
{% endif %}
</ul>
</li>
</ul>
<form class="navbar-form navbar-left" role="search">
<div class="form-group">
<input type="text" class="form-control" placeholder="Search">
</div>
<button type="submit" class="btn btn-default">Submit</button>
</form>
<ul class="nav navbar-nav navbar-right">
<li><a href="#">Link</a></li>
<li class="dropdown">
{% if user.is_active() %}
<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.first_name}} <b class="caret"></b></a>
{% endif %}
{% if not user.is_active() %}
<a href="#" class="dropdown-toggle" data-toggle="dropdown">signin or signup <b class="caret"></b></a>
{% endif %}
<ul class="dropdown-menu">
{% if not user.is_active() %}
<li>
<form class="navbar-form navbar-right" method='post' action='/'>
<div class="form-group">
    <input type="email" placeholder="Email" class="form-control" name='email'>
</div>
<div class="form-group">
    <input type="password" placeholder="Password" class="form-control" name='password'>
</div>
<button type="submit" class="btn btn-success">Sign in</button>
</form>
</li>
{% endif %}
{% if user.is_active() %}
<li><a href="/logout">sign out</a></li>
{% endif %}
</ul>
</li>
</ul>
</div><!-- /.navbar-collapse -->
</nav>
        <div class='container'>
			{% block body %}
			{% endblock %}
			<br><br>
            <footer>
                <p>&copy; katiemthom 2013 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                    <a href='/reportbug'>report a bug</a>
                </p>
            </footer>
		</div>
		<script type="text/javascript" src="/static/js/jquery.js"></script>
		<script type="text/javascript" src="/static/js/bootstrap.js"></script>
		{% block javascript %}
		{% endblock %}
	</body>
</html>