{% extends 'master.html' %}
{% block body %}
<div class='container'>
	<br><br><br>
	<div class="list-group">
		<a href="/addpost" class="list-group-item">Add a Post</a>
		<a href="#" class="list-group-item">Dapibus ac facilisis in</a>
		<a href="#" class="list-group-item">Morbi leo risus</a>
		<a href="#" class="list-group-item">Porta ac consectetur ac</a>
		<a href="#" class="list-group-item">Vestibulum at eros</a>
	</div>
	{% for post in posts %}
	<h3><a href="{{url_for('show_post', post_id=post.id)}}">{{post.timestamp}}</a></h3>
	<p>{{post.content}}</p>
	{% endfor %}
</div>	
{% endblock %}