{% extends 'master.html' %}
{% block body %}

<!-- ************************ HEADER/SEARCH BY DATE ************************  -->
<div class="page-header">
	<h1>
		Notes
        <h3>Search by Date:</h3> 
        <input type='text' id='datepicker' />
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
        <a id="get-notes" type="button" class="btn btn-default">Get Notes</a>
	</h1>
    <div id="found-notes"></div>
</div>

<!-- ************************ NOTES PREVIEW ************************  -->
<div class="page-header">
    <h1>
    Most Recent Notes
    </h1>
</div>
<div class="row">
    {% for note in notes %}
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="http://docs.google.com/viewer?url=http://katiemthom.com/katiemthom_resume.pdf&a=bi&pagenumber=1&w=800" alt="" />  
            <div class="caption">
                <h3>{{note.created_on}}</h3>
                <p>{{note.description}}</p>
                <p><a href="{{note.link}}" class="btn btn-default" role="button">Preview</a></p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}

<!-- ************************ SCRIPTS ************************  -->
{% block javascript %}


<meta charset="utf-8" />

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
jQuery(function($){
  $("#datepicker").datepicker({
        dateFormat: "dd-mm-yy",
        onSelect: function(dateText, inst) {
          var date = $.datepicker.parseDate(inst.settings.dateFormat || $.datepicker._defaults.dateFormat, dateText, inst.settings);
          var dateText1 = $.datepicker.formatDate("D, d M yy", date, inst.settings);
          date.setDate(date.getDate() + 7);
          var dateText2 = $.datepicker.formatDate("D, d M yy", date, inst.settings);
          $("#dateoutput").html("Chosen date is <b>" + dateText1 + "</b>; chosen date + 7 days yields <b>" + dateText2 + "</b>");
        }
      });
});

$(document).ready(function() {
    $('#get-notes').click(function() {
        $('#found-notes').html("");
            $.ajax({
            type: "POST",
            url: "/find_notes",
            data: { search_for: $('#datepicker').val() }
            }).done(function( msg ) {
                if (msg['message']) {
                    $('#found-notes').append("<br><p>"+msg['message']+"</p>");
                } else {
                    $('#found-notes').append('<br><br><div class="thumbnail" id="searched"><img src="http://docs.google.com/viewer?url=http://katiemthom.com/katiemthom_resume.pdf&a=bi&pagenumber=1&w=800" alt="" width="300" height="400" />  <div class="caption"><h3>'+msg['created_on']+'</h3><p>'+msg['description']+'</p><p><a href="'+msg['link']+'" class="btn btn-default" role="button">Preview</a></p></div>');
                }
            });
    });
});

</script>

{% endblock %}

