<script type="text/javascript">
function addComment(authorId,postId,startId,destId) {
	$.ajax({
		type: "POST",
  		url: "/post/1",
  		data: { author_id: authorId, post_id: postId, comment: $(startId).val() }
		}).done(function( msg ) {
			console.log(msg) 
			$(destId).append('<h3>'+msg['comment_timestamp']+' '+msg['comment_author']+'</h3>')
			$(destId).append('<p>'+msg['comment_content']+'</p>'); 
  		});	
}
</script>
{% extends 'master.html' %}
{% block body %}
<div class='container'>

	<h1>{{ post.timestamp }}</h1>
	<p>{{ post.content }}</p>

	<div id="comments-div">
		{% for comment in comments %}
		<h3>{{comment.timestamp}} {{comment.user.first_name}}</h3>
		<p>{{comment.content}}</p>
		{% endfor %}
	</div>



	<p><input id='comment_input' type='text' class='form-control' name='comment_input' placeholder='Share your thoughts...!'></input></p>

	<p>
		<a href="javascript:addComment({{post.user.id}},{{post.id}},'#comment_input','#comments-div');" id="add-comment-button"><button>Submit</button></a>
	</p>



</div>	
{% endblock %}

