<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript">
function addComment(authorId,postId,startId,destId) {
	$.ajax({
		type: "POST",
  		url: "/post/1",
  		data: { user_id: authorId, post_pk: postId, comment: $(startId).val() }
		}).done(function( msg ) {
			$('#comment_input').val(""); 
			$(destId).append('<h3>'+msg['comment_timestamp']+' '+msg['comment_author']+'</h3>')
			$(destId).append('<p>'+msg['comment_content']+'</p>'); 
  		});	
}
</script>

{% extends 'master.html' %}
{% block body %}
<div class='container'>
	<div class="page-header">
		<h1>{{post.title}}</h1><small>{{ post.timestamp }} by {{post.user.first_name}} {{post.user.last_name}}</small>
	</div>
	<p>{{ post.content }}</p>
	<br>
	<a href='{{url_for("show_blog",author_id=post.user_id)}}'>&laquo; back</a>
	<div class="page-header">
		<h3>Comments</h3>
	</div>
	<div id="comments-div">
		{% for comment in comments %}
		<h3>{{comment.timestamp}} {{comment.user.first_name}}</h3>
		<p>{{comment.content}}</p>
		{% endfor %}
	</div>



	<p><input id='comment_input' type='text' class='form-control' name='comment_input' placeholder='Share your thoughts...!'></input></p>

	<p>
		<a href="javascript:addComment({{user.user_id}},{{post.post_pk}},'#comment_input','#comments-div');" id="add-comment-button"><button id="comment_submit">Submit</button></a>
	</p>

	<br><br>



</div>	
{% endblock %}

