{% extends 'master.html' %}
{% block body %}

<div class='container'>

	<div class="page-header">
		<h1>Search for a Student</h1>
	</div>

	<div class="well" id='search-well'>
		<div class="page-header">
			<h2>By Name or Email</h2>
		</div>

		<div id="search">

		<form action='{{url_for('process_search')}}' method='post'>
		<input type='text' class='form-control' name='search_term'></input>
		<br>
		<button class='btn btn-default'>Search</button>
		</form>	
		</div>

		{% for message in get_flashed_messages() %}
        	<div class="alert alert-warning">{{message}}</div>
    	{% endfor %}
		

	</div>

</div>	
{% endblock %}




<!-- **************** SCRIPTS **************** -->
{% block javascript %}
{% endblock %}
