{% extends 'master.html' %}
{% block body %}

<div class='container'>

<!-- **************** HEADER **************** -->
	<div class="page-header">
		<h1>Send Text</h1>
	</div>
<!-- **************** END HEADER **************** -->

<!-- ********** ADD PHONE FORM ********** -->
<div id="phone-number">
	<form action='{{url_for('send_text')}}' method=post>
		<textarea type="textarea" class='form-control' name='text_content' placeholder="Here is a hint on your homework tonight..." id="send-textarea"></textarea>
		<br>
		<p><button type="submit" class="btn btn-default">Send</button></p>
	</form>
</div>
<!-- ********** END REPORT BUG FORM ********** -->

<!-- ********** FLASHED MESSAGES ********** -->
{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
	{% for category, message in messages%}
		<div class="alert alert-{{category}}">{{message}}</div>
		{% endfor %}
		{% endif %}
{% endwith %}
<!-- ********** END FLASHED MESSAGES ********** -->




</div>
{% endblock %}