{% extends 'master.html' %}
{% block body %}
<div class='container'>
	<div class="well" id='signup_well'>
		<br>
		<h1>Sign Up</h1>	
		<form action='{{url_for('sign_up')}}' method='post' enctype='multipart/form-data'>
		<br>
		<p><input class='form-control' name='first_name' placeholder='First Name' id='signup' {% if first %}value={{first}} {% endif %}></input></p>
		<p><input class='form-control' name='last_name' placeholder='Last Name' id='signup' {% if last %} value={{last}} {% endif %}></input></p>
		<p><input class='form-control' type = 'email' name='email' placeholder='Email' id='signup' {% if email %} value={{email}} {% endif %}></input></p>
		<p><input class='form-control' type = 'password' name='password' placeholder='Password' id='signup'></input></p>
		<p><input class='form-control' type = 'password' name='validate_password' placeholder='Validate Password' id='signup'></input></p>
		<p>Upload Profile Picture:</p>
		<p><input class='form-control' name='file' id='fileupload' type='file'></input></p>
		<br> 
		<p><select class='form-control' name='period' placeholder='Period' id='signup'>
		<option>Select Period</option>
		<option value='2'>2</option>
		<option value='3'>3</option>
		<option value='4'>4</option>
		<option value='5'>5</option>
		</select></p>
		<p><input class='form-control' name='school_id' placeholder='School ID' id='signup'></input></p>
		<p><a type="submit" class="btn btn-default">Send</a></p>
	</form>
	{% for message in get_flashed_messages() %}
    	<div class="alert alert-warning">{{ message }}</div>
  	{% endfor %}
  </div>
</div>	


{% endblock %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/static/js/jquery.iframe-transport.js"></script>
<script src="/static/js/jquery.fileupload-image.js"></script>
<script type="text/javascript">
$(function() {
	$('#fileupload').fileupload({
		dataType: 'json',
		add: function (e, data) {
			$('#profile-pic-upload').click(function() {
				data.submit();
			});
		},
		done: function (e, data) {
			alert('upload finished');
		}
	});
});
</script>
{% block javascript %}
{% endblock %}