{% extends 'master.html' %}
{% block body %}
<div class='container'>

	<!-- ************************ HEADER ************************  -->
	<div class="page-header">
		<h1>
			Students
		</h1>
		<!-- ************************ SELECT PERIOD ************************  -->
		<div id="select-period">
			<select class='form-control' name='period' placeholder='Period' id='period-select'>
				<option>Select Period</option>
				<option value='2'>2</option>
				<option value='3'>3</option>
				<option value='4'>4</option>
				<option value='5'>5</option>		
			</select>
		</div>
	</div>

	<div id="found-students"></div>

</div>	  
{% endblock %}

<!-- ************************ SCRIPTS ************************  -->
{% block javascript %}
<script type="text/javascript">
var students;

$(document).ready(function() {
	$("#period-select").change(function() {
		$('#found-students').html('');
		$.ajax({
			type: "GET",
			url: "/getstudents/" + $('#period-select').val()
			}).done(function(msg) {
				students = eval(msg['students_list']);
				$('#found-students').append('<div class="page-header"><h1>Period '+$('#period-select').val()+'</h1></div>');
				for (var i = students.length - 1; i >= 0; i--) {
					$('#found-students').append('<p>'+students[i].first_name+' '+students[i].last_name+'</p>');
				}
		});
	});
})

</script>
{% endblock %}