{% extends 'master.html' %}
{% block body %}

<div class="container">

	<!-- ***************** HEADER ***************** -->
	<div class="page-header">
		<h1>Upload Notes</h1>
	</div>
	<!-- ***************** END HEADER ***************** -->

	<!-- ***************** ADD ASSIGNMENT WELL ***************** -->
	<div class="well" id="upload-grades-well">

		<!-- ***************** HEADER ***************** -->
		<div class="page-header">
			<h2>Select a pdf file to upload:</h2>
		</div>
		<!-- ***************** END HEADER ***************** -->

		<!-- ********** FLASHED MESSAGES ********** -->
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
			{% for category, message in messages%}
				<div class="alert alert-{{category}}">{{message}}</div>
	  		{% endfor %}
	  		{% endif %}
	  	{% endwith %}
  		<!-- ********** END FLASHED MESSAGES ********** -->

		<!-- ***************** UPLOAD FORM ***************** -->		
		<form action="" method='post' enctype='multipart/form-data'>
      	<p><input type='file' name='notes_file' class='form-control'></input></p>
        <p><input name='created_on' class="form-control" placeholder='Created On' type='text' id='datepicker' /></p>
        <p><input id='description' type='text' class='form-control' name='description' placeholder='Description'></input></p>
        <input type='submit' value='Upload' class='btn btn-default' method="post"></input>
    	</form>
    	<!-- ***************** END UPLOAD FORM ***************** -->

	</div>
	<!-- ***************** END ADD ASSIGNMENT WELL ***************** -->

</div>

 {% endblock %}

{% block javascript %}
<script type="text/javascript" src="/static/js/jquery-ui.js"></script>

<script>
jQuery(function($){
  $("#datepicker").datepicker({
        dateFormat: "dd-mm-yy",
        onSelect: function(dateText, inst) {
          var date = $.datepicker.parseDate(inst.settings.dateFormat || $.datepicker._defaults.dateFormat, dateText, inst.settings);
          var dateText1 = $.datepicker.formatDate("D, d M yy", date, inst.settings);
          date.setDate(date.getDate() + 7);
          var dateText2 = $.datepicker.formatDate("D, d M yy", date, inst.settings);
          $("#dateoutput").html("Chosen date is <b>" + dateText1 + "</b>; chosen date + 7 days yields <b>" + dateText2 + "</b>");
        }
      });
});
</script>
{% endblock %}